.shadow{
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14) , 0px 3px 1px -2px #0000001f , 0px 1px 5px 0px rgba(0,0,0,0.2)  !important;
    color: #f1eef1
}
.pop:hover{
    transform: translate(0, -4px);
    transition: 0.3s;
}
.full-hgt{
    height: 100vh !important;
}
.light-hover:hover{
    border-radius: 80px;
    background: #202020 !important;
    transform: scale(1.02);
}
.gradient{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,70,121,1) 25%, rgba(0,212,255,1) 100%);    
    color: white;
}
.flex-row{
    display: flex;
    min-height: 100vh;
    max-width: 95vw;
    overflow-y: scroll;
}
.flex-row.div{
    overflow-y: scroll;
}
.dark-shadow{
    box-shadow:0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2)   !important;
    border-radius: 20px !important;
    padding: 2rem;
    margin: 2rem;
}

.light-shadow{
    box-shadow:0px 2px 2px 0px rgba(0,0,0,0.14) , 0px 3px 1px -2px #0000001f , 0px 1px 5px 0px rgba(0,0,0,0.2)  !important;
    border-radius: 6px !important;
    padding: 2rem;
    
}

.modalclass{
    height: 500px !important;
}